api/schemas/suicide.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="suicide-record">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country-name" type="xs:string"/>
                <xs:element name="both-rates" type="xs:double"/>
                <xs:element name="male-rates" type="xs:double"/>
                <xs:element name="female-rates" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>